<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AtividadesAvaliativas"
        tools:targetApi="31">
        <activity
            android:name=".SistemasEmbarcados.SistemasEmbarcadosQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SistemasEmbarcados.SistemasEmbarcadosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SistemasEmbarcados.SistemasEmbarcados"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProtocolosDeComunicacaoIot.ProtocolosDeComunicacaoIotQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProtocolosDeComunicacaoIot.ProtocolosDeComunicacaoIotFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProtocolosDeComunicacaoIot.ProtocolosDeComunicacaoIot"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProcessamentoDigitalDeSinais.ProcessamentoDigitalDeSinaisQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProcessamentoDigitalDeSinais.ProcessamentoDigitalDeSinaisFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProcessamentoDigitalDeSinais.ProcessamentoDigitalDeSinais"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InterfaceHumanoComputador.InterfaceHumanoComputadorQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InterfaceHumanoComputador.InterfaceHumanoComputadorFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InterfaceHumanoComputador.InterfaceHumanoComputador"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InfraestruturaParaSistemasDeSoftware.InfraestruturaParaSistemasDeSoftwareQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InfraestruturaParaSistemasDeSoftware.InfraestruturaParaSistemasDeSoftware"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InfraestruturaParaSistemasDeSoftware.InfraestruturaParaSistemasDeSoftwareFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImpactosDaComputacaoNaSociedade.ImpactosDaComputacaoNaSociedade"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImpactosDaComputacaoNaSociedade.ImpactosDaComputacaoNaSociedadeFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImpactosDaComputacaoNaSociedade.ImpactosDaComputacaoNaSociedadeQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GestaoDaInovacaoeDesenvolvimentoDeProdutos.GestaoDaInovacaoeDesenvolvimentoDeProdutosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GestaoDaInovacaoeDesenvolvimentoDeProdutos.GestaoDaInovacaoeDesenvolvimentoDeProdutos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GestaoDaInovacaoeDesenvolvimentoDeProdutos.GestaoDaInovacaoeDesenvolvimentoDeProdutosQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FormacaoProfissionalEmComputacao.FormacaoProfissionalEmComputacaoQuestao"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FormacaoProfissionalEmComputacao.FormacaoProfissionalEmComputacao"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FormacaoProfissionalEmComputacao.FormacaoProfissionalEmComputacaoFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EngenhariaDeSoftware.EngenhariaDeSoftwareQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EngenhariaDeSoftware.EngenhariaDeSoftwareFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EngenhariaDeSoftware.EngenhariaDeSoftware"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Compiladores.CompiladoresQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Compiladores.CompiladoresFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Compiladores.Compiladores"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BancoDeDados.BancoDeDadosQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BancoDeDados.BancoDeDadosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BancoDeDados.BancoDeDados"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoParaDispositivosMoveis.DesenvolvimentoParaDispositivosMoveis"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoParaDispositivosMoveis.DesenvolvimentoParaDispositivosMoveisQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoParaDispositivosMoveis.DesenvolvimentoParaDispositivosMoveisFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoeAnaliseDeAlgoritmos.ProjetoeAnaliseDeAlgoritmos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoeAnaliseDeAlgoritmos.ProjetoeAnaliseDeAlgoritmosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoeAnaliseDeAlgoritmos.ProjetoeAnaliseDeAlgoritmosQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProgramacaoOrientadaaObjetos.ProgramacaoOrientadaaObjetos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProgramacaoOrientadaaObjetos.ProgramacaoOrientadaaObjetosQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProgramacaoOrientadaaObjetos.ProgramacaoOrientadaaObjetosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SistemasComputacionais.SistemasComputacionais"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SistemasComputacionais.SistemasComputacionaisQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SistemasComputacionais.SistemasComputacionaisFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IntroducaoeConceitosdeComputacao.IntroducaoeConceitoDeComputacaoFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IntroducaoeConceitosdeComputacao.IntroducaoeConceitoDeComputacao"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IntroducaoeConceitosdeComputacao.IntroducaoeConceitosDeComputacaoQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EstrututuraDeDados.EstruturaDeDadosQuestao"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EstrututuraDeDados.EstruturaDeDadosFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EstrututuraDeDados.EstruturaDeDados"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoseMetodosParaProducao.ProjetoseMetodosParaProducaoFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoseMetodosParaProducao.ProjetoseMetodosParaProducaoQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProjetoseMetodosParaProducao.ProjetoseMetodosParaProducao"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PensamentoComputacional.PcompFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PensamentoComputacional.PcompQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PensamentoComputacional.PensamentoComputacional"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FundamentosInternetWeb.FiwQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FundamentosInternetWeb.FiwFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FundamentosInternetWeb.FundamentosInternetWeb"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoWeb.DwFim"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoWeb.DwQuestoes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DesenvolvimentoWeb.DesenvolvimentoWeb"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>